$breakpoints: (
    "xs": 0,
    "sm": 480px,
    "md": 720px,
    "lg": 960px,
    "xl": 1200px,
    "xxl": 1400px
);

@mixin xs {
    @media (min-width: map-get($breakpoints, "xs")) {
        @content; // write your "XS" mobile css rules
    }
};
@mixin sm {
    @media (min-width: map-get($breakpoints, "sm")) {
        @content; // write your "sm" mobile css rules
    }
};
@mixin md {
    @media (min-width: map-get($breakpoints, "md")) {
        @content; // write your "md" mobile css rules
    }
};
@mixin lg {
    @media (min-width: map-get($breakpoints, "lg")) {
        @content; // write your "lg" mobile css rules
    }
};
@mixin xl {
    @media (min-width: map-get($breakpoints, "xl")) {
        @content; // write your "xl" mobile css rules
    }
};
@mixin xxl {
    @media (min-width: map-get($breakpoints, "xxl")) {
        @content; // write your "xxl" mobile css rules
    }
};

@mixin customBP ($bp: 0) {
    @media (min-width: $bp) {
        @content; // write your "Custom ViewPort" to css rules
    }
}

.responsive-test {
    @include xs {
        color: red;
    }
    @include sm {
        color: blue;
    }
    @include md {
        color: orange;
    }
    @include lg {
        color: green;
    }
    @include xl {
        color: aqua;
    }
    @include xxl {
        color: yellowgreen;
    }
    @include customBP(1550) {
        color: blueviolet;
    }
}