$overflow-values: visible, hidden, scroll, auto;
$cursor-values: auto, default, none, context-menu, help, pointer, progress, wait, cell, crosshair, text, vertical-text, alias, copy, move,
no-drop, not-allowed, grab, grabbing, all-scroll, col-resize, row-resize, n-resize, e-resize, s-resize, w-resize, ne-resize, nw-resize, se-resize,
sw-resize, ew-resize, ns-resize, nesw-resize, nwse-resize, zoom-in, zoom-out;
$font-weight-values: 100, 200, 300, 400, 500, 600, 700, 800, 900;
$position-values: static, relative, absolute, fixed, sticky, inherit, initial, revert, unset;
$textalign-values: start, end, left, right, center, justify, justify-all, match-parent, unset;

// overflow-values classes
@each $val in $overflow-values {
    .overflow-#{$val} {
        overflow: $val;
    }
}
// cursorPointer-values classes
@each $val in $cursor-values {
    .cursor-#{$val} {
        cursor: $val;
    }
}
// font-weight-values classes
@each $val in $font-weight-values {
    .fontweight-#{$val} {
        font-weight: $val;
    }
}
// $position-values classes
@each $val in $position-values {
    .position-#{$val} {
        position: $val;
    }
}
// $textalign-values classes
@each $val in $textalign-values {
    .textalign-#{$val} {
        text-align: $val;
    }
}